@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(255, 255, 255);
}

header {
  background-color: rgb(246, 8, 8);
  color: white;
}

header h1 {
  padding: 10px;
  text-align: center;
  font-size: 25px;
}

span#icone{
  background-color: rgb(42, 41, 40);
  display: block;
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

span#icone:hover{
background-color: rgb(42, 41, 41);
color: rgb(251, 251, 251);


}

menu {
  display: none;
}

menu ul li {
  list-style-type: none;
  
}

menu ul li a {
  display: block;
  padding: 15px;
  margin-block: 12px;
  text-decoration: none;
  text-align: center;
  background-color: rgba(109, 21, 21, 0.982);
  color: rgb(249, 244, 244);
  border-top: 0px solid rgb(244, 8, 8);

}

menu ul li :hover {
  background-color: rgba(251, 5, 5, 0.921);
  
}

main {
  width: 90vw;
  background-color: rgb(237, 233, 233);
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
}

article h2 {
  padding-bottom: 20px;
}

article p {
  text-align: justify;
  margin-bottom: 20px;
  text-indent: 20px;
}
