@font-face {
  font-family: "revolution";
  src: url(ProtestRevolution-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: arial;
  font-size: 1em;
}
body {
  background-image: linear-gradient(to right, #8c1f28, #044040);
}
main {
  background-color: white;
  width: 600px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px;
}
h1 {
  color: #d92525;
  text-align: center;
  text-shadow: 1px 1px 0px #981919b5;
  font-size: 2em;
  font-family: "revolution";
}
h2 {
  color: #067575;
}
p {
  text-align: just
}
